
@{
    ViewBag.Title = "HomePage";
    Layout = "~/Views/Shared/_outer_layout.cshtml";
}

<h1>NGO</h1>
<div>
    <a href="/Home/OwnerLogin" class="btn btn-success">Owner Login</a><hr />
    <a href="/Home/EmployeeRegistration" class="btn btn-success">Employee Registration</a><hr />
    <a href="/Home/EmployeeLogin" class="btn btn-success">Employee Login</a><hr />
    <a href="/Home/RestaurantLogin" class="btn btn-success">Restaurant Login</a><hr />
</div>

